@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa';
  background: #3D4975;
}

.home--container {
  padding: 20px 30px;
  color: rgba(255, 255, 255, .6);

  h1 {
    margin-bottom: 50px;
    color: #00B7B0;
    letter-spacing: 2.5px;
  }

  .home--banks {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0;
    }
  }

  .home--sucursales {
    display: flex;
    flex-direction: column;

    h2 {
      span {
        color: #00B7B0;
      }
    }

    h3 {
      margin: 0;
    }
  }
}